@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&display=swap%27');

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Fira Sans Extra Condensed';
    background-color: #f3c899;
}


.palavras-cruzadas {
    height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
    align-items: center;
}

.base-memoria-massa {
    display: flex;
    flex-direction: row;
}

.flex-item {
    width: 32px;
    height: 32px;
    border: 1px black solid;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex-item-1 {
    width: 32px;
    height: 32px;
    border: 1px black solid;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.flex-item-num {
    width: 32px;
    height: 32px;
    border: 1px black solid;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2e8b57;
    font-weight: 700;
}

.base {
    display: flex;
    gap: 10px;
}

.base-letra {
    display: flex;
    gap: 10px;
    color: #2e8b57;
    font-weight: 700; 
}

.flex-item p {
    width: fit-content;
    margin: auto;
}

.flex-item-none {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 100%;
    border: 1px #996f27 solid;
    font-weight: 600;
}

.caixa-footer {
    background-color: #fe9f00;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    padding: 3%;
    font-size: 150%;
}

.caixa-palavras {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20%;
}

.definicoes {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-height: 270px;
    height: 120%;
    overflow-y: auto;
    gap: 30%;
}

.definicoes input {
    height: 30px;
    font-size: 1vmax;
    padding: 1%;
}

.definicoes button {
    height: 40px;
    width: 70px;
    font-size: 1.1vmax;
}

.respostas {
    width: 30%;
    max-height: 220px;
    overflow-y: auto;
    border-radius: 2px;
    border: 1px black solid;
}
